


<form class="" action="/users" method="POST">
  <label for="first_name">
    First Name:
    <input type="text" name="first_name" value= "<%= @first_name %>" />
  </label>
  <label for="last_name">
    Last Name:
    <input type="text" name="last_name" value = "<%= @last_name %>" />
  </label>
  <label for="email">
    Email:
    <input type="email" name="email" value= "<%= @email %>" />
  </label>
  <label for="password">
    Password:
    <input type="password" name="password" />
  </label>
  <label for="password_confirmation">
    Confirm Password:
    <input type="password" name="password_confirmation" />
  </label>
  <input type="submit" name="sumbit" value="Signup">
</form>
