<html>
<head> Bookmark Manager </head>
  <body>
    <% if current_user %>
    Welcome <%= current_user.email %>
    <%end %>
    <ul id="errors">
    <% if flash[:errors] && !flash[:errors].empty? %>
        <% flash[:errors].each do |error|%>
        <li>  <%= error %> </li>
        <% end %>
    <%end %>
      </ul>
    <%= yield %>
  </body>
  </html>
